@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication forms">
    <meta name="author" content="Arasari Studio">

    <title>Forny</title>
    <link href="~/account/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/account/css/common.css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="~/account/css/theme-02.css" rel="stylesheet">

</head>
<body>
    <div class="forny-container">

        <div class="forny-inner">
            <div class="mb-6 text-center forny-logo">
                <img src="img/logo-02.svg">
            </div>
            <div class="forny-form">
                <div class="text-center">
                    <h4>Login into account</h4>
                    <p class="mb-10">Use your credentials to access your account.</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form method="post">

                    <div class="form-group">

                        <div class="input-group">
                            

                            <input required class="form-control" name="email" type="email" placeholder="Email Address">
                                  

                        </div>
                    </div>


                    <div class="form-group password-field">

                        <div class="input-group">
                            
                            <input required class="form-control" name="password" type="password" placeholder="Password">
                                  
                        </div>
                    </div>


                    <div class="row mt-6 mb-6">
                        <div class="col-6 d-flex align-items-center">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb1">
                                <label class="custom-control-label" for="cb1">
                                    Remember me
                                </label>
                            </div>

                        </div>
                        <div class="col-6 text-right">
                            <a href="02_reset.html">Forgot password?</a>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>

                  

                    <div class="text-center mt-10">
                        Don't have an account? <a asp-action="Register" asp-controller="Account">Register here</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="~/account/js/jquery.min.js"></script>
    <script src="~/account/js/bootstrap.min.js"></script>
    <script src="~/account/js/main.js"></script>
    <script src="~/account/js/demo.js"></script>

</body>

</html>
