
@model List<Slide>
<!-- Slider Section Start -->
<section class="hero-slider-two rel z-1">
    <div class="slider-two-active">
      
        
        @foreach (var item in Model)
        {
            <div class="slider-item-two" style="background-image: url(~/assets/images/slider/slider-two1.jpg)">
                <div class="container">
                    <div class="slider-content-two">
                        <h1>@item.Title</h1>
                        <p>@item.Description</p>
                        <a asp-action="RoomList" asp-controller="Room" class="theme-btn">Explore Our Rooms <i class="far fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        }
       
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
    <div class="hero-left-shapes"></div>
    <div class="hero-right-shapes"></div>
</section>
<!-- Slider Section End -->