
@model Reservation

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4 class="text-danger">@ViewBag.Status</h4>
<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArrivalDateTime" class="control-label"></label>
                <input asp-for="ArrivalDateTime" class="form-control" placeholder="ArrivalDateTime" />
                <span asp-validation-for="ArrivalDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeparturDateTime" class="control-label">DeparturDateTime</label>
                <input asp-for="DeparturDateTime" class="form-control" placeholder="DeparturDateTime" />
                <span asp-validation-for="DeparturDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-0">
                    <button type="submit" class="theme-btn">Send Comment <i class="far fa-angle-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

