 <!--Form Back Drop-->
        <div class="form-back-drop"></div>
        
        <!-- Hidden Sidebar -->
        <section class="hidden-bar">
            <div class="inner-box text-center">
                <div class="cross-icon"><span class="fa fa-times"></span></div>
                <div class="title">
                    <h4>Get Appointment</h4>
                </div>

                <!--Appointment Form-->
                <div class="appointment-form">
                    <form method="post" action="contact.html">
                        <div class="form-group">
                            <input type="text" name="text" value="" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Message" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="theme-btn">Submit now</button>
                        </div>
                    </form>
                </div>

                <!--Social Icons-->
                <div class="social-style-one">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </section>
        <!--End Hidden Sidebar -->
       
        
        <!-- Page Banner Start -->
        <section class="page-banner-area pt-170 rpt-110 pb-190 rpb-125 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(assets/images/background/banner-two.jpg)">
            <div class="container">
                <div class="banner-inner text-white">
                    <h1 class="page-title wow fadeInUp delay-0-2s">Our Services</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                            <li class="breadcrumb-item"><a href="index.html">home</a></li>
                            <li class="breadcrumb-item active">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="bg-lines">
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
            </div>
        </section>
        <!-- Page Banner End -->
        
        
        <!-- What We Do Area start -->
        <section class="what-we-do-area pt-130 rpt-95 rel">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-6">
                        <div class="what-we-do-content rmb-55 wow fadeInLeft delay-0-2s">
                            <div class="section-title mb-30">
                                <span class="sub-title mb-15">What We Do</span>
                                <h2>Quality Hotel & Suites Services Providing by Professionals</h2>
                                <p>Sed ut perspiciatis unde omniste natus voluptatem accusantiume doloremque laudantium, totam rem aperiam inventore</p>
                            </div>
                            <a href="room-grid.html" class="theme-btn">Explore Our Rooms <i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="what-we-do-images wow fadeInRight delay-0-2s">
                            <div class="row gap-50">
                                <div class="col-6">
                                    <div class="image">
                                        <img src="~/assets/images/about/what-we-do1.jpg" alt="What We Do">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="image mt-40">
                                        <img src="~/assets/images/about/what-we-do2.jpg" alt="What We Do">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-lines for-bg-white">
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
            </div>
        </section>
        <!-- What We Do Area end -->
        
        
        <!-- Services Area start -->
        <section class="services-area-three pt-130 rpt-100 pb-100 rpb-70 rel z-1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-7 col-md-9">
                        <div class="section-title text-center mb-50 rmb-40 wow fadeInUp delay-0-2s">
                            <h2>We Provide Amazing Service to Enjoy Your Days</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-2s">
                            <span class="number">01</span>
                            <h4><a href="room-details.html">Fitness Center</a></h4>
                            <p>At vero eos accusamus simos blande praesente tatum</p>
                            <div class="icon">
                                <i class="flaticon-stationary-bike"></i>
                            </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-3s">
                            <span class="number">02</span>
                            <h4><a href="room-details.html">Jacuzzi</a></h4>
                            <p>Libero tempore cum soluta to eligende optio cumque</p>
                            <div class="icon">
                                <i class="flaticon-jacuzzi"></i>
                            </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-4s">
                            <span class="number">03</span>
                            <h4><a href="room-details.html">Swimming Pool</a></h4>
                            <p>Blinded by desirec that cannot foresies trouble bounde</p>
                            <div class="icon">
                                <i class="flaticon-swim"></i>
                            </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-5s">
                            <span class="number">04</span>
                            <h4><a href="room-details.html">SPA Treatments</a></h4>
                            <p>At vero eos accusamus simos blande praesente tatum</p>
                            <div class="icon">
                                <i class="flaticon-relax"></i>
                            </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-2s">
                            <span class="number">05</span>
                            <h4><a href="room-details.html">Restaurants</a></h4>
                            <p>Nam libero tempores eligende optio cumque impedit quo</p>
                            <div class="icon">
                                <i class="flaticon-restaurant"></i>
                            </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-3s">
                            <span class="number">06</span>
                            <h4><a href="room-details.html">Transportation</a></h4>
                            <p>Libero tempore cum soluta to eligende optio cumque</p>
                            <div class="icon">
                                <i class="flaticon-restaurant"></i>
                            </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-4s">
                            <span class="number">07</span>
                            <h4><a href="room-details.html">Lounge bar</a></h4>
                            <p>Blinded by desirec that cannot foresies trouble bounde</p>
                            <div class="icon">
                                <i class="flaticon-champagne"></i>
                            </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-item-two wow fadeInUp delay-0-5s">
                            <span class="number">08</span>
                            <h4><a href="room-details.html">Laundry Services</a></h4>
                            <p>At vero eos accusamus simos blande praesente tatum</p>
                            <div class="icon">
                                <i class="flaticon-laundry-machine"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-lines for-bg-white">
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
            </div>
        </section>
        <!-- Services Area end -->
        
        
        <!-- Pricing Area start -->
        <section class="pricing-area pt-130 rpt-100 pb-100 rpb-70 rel z-1 bgc-black" style="background-image: url(~/assets/images/background/pricing-bg.png);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <div class="section-title text-center text-white mb-60 rmb-40 wow fadeInUp delay-0-2s">
                            <span class="sub-title mb-10">Pricing Package</span>
                            <h2>Corporate Pricing Package For Luxury Hotel & Suites</h2>
                        </div>
                    </div>
                </div>
                <div class="row gap-90 justify-content-center">
                    <div class="col-xl-4 col-md-6 wow fadeInUp delay-0-2s">
                        <div class="pricing-item" style="background-image: url(assets/images/background/price-item-bg.png);">
                            <h4 class="title">Basic Plan</h4>
                            <span class="price">$19.56</span>
                            <span class="per-text">per month</span>
                            <hr>
                            <ul>
                                <li>Transportations</li>
                                <li>SPA Treatment</li>
                                <li class="unable">Food & Drinks</li>
                                <li class="unable">GYM & Yoga</li>
                                <li class="unable">Hotel Guide</li>
                            </ul>
                            <a href="contact.html" class="theme-btn">Choose Package <i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp delay-0-4s">
                        <div class="pricing-item" style="background-image: url(assets/images/background/price-item-bg.png);">
                            <h4 class="title">Standard Plan</h4>
                            <span class="price">$49.56</span>
                            <span class="per-text">per month</span>
                            <hr>
                            <ul>
                                <li>Transportations</li>
                                <li>SPA Treatment</li>
                                <li>Food & Drinks</li>
                                <li>GYM & Yoga</li>
                                <li class="unable">Hotel Guide</li>
                            </ul>
                            <a href="contact.html" class="theme-btn">Choose Package <i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp delay-0-6s">
                        <div class="pricing-item" style="background-image: url(assets/images/background/price-item-bg.png);">
                            <h4 class="title">Silver Plan</h4>
                            <span class="price">$98.56</span>
                            <span class="per-text">per month</span>
                            <hr>
                            <ul>
                                <li>Transportations</li>
                                <li>SPA Treatment</li>
                                <li>Food & Drinks</li>
                                <li>GYM & Yoga</li>
                                <li>Hotel Guide</li>
                            </ul>
                            <a href="contact.html" class="theme-btn">Choose Package <i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-lines">
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
            </div>
        </section>
        <!-- Pricing Area end -->
        
        
        <!-- Hotel Area start -->
        <section class="hotel-area py-130 rpy-100 rel z-1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <div class="section-title text-center mb-60 rmb-40 wow fadeInUp delay-0-2s">
                            <h2>Explore Luxury Hotel & Suites Are People Choosing</h2>
                        </div>
                    </div>
                </div>
                <div class="hotel-carousel-active">
                    <div class="hotel-item wow fadeInUp delay-0-2s">
                        <div class="content">
                            <div class="top">
                                <h3><a href="room-details.html">Superior Room</a></h3>
                                <p>Vero accusamus eustonis simose duc blanditiis praesente tatum</p>
                            </div>

                            <div class="bottom">
                                <div class="price">From <span>$185</span>/per night</div>
                                <a class="theme-btn style-two" href="room-details.html">Details <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/hotel/hotel1.jpg" alt="Hotel">
                        </div>
                    </div>
                    <div class="hotel-item wow fadeInUp delay-0-4s">
                        <div class="content">
                            <div class="top">
                                <h3><a href="room-details.html">Deluxe Suite</a></h3>
                                <p>Eos accusamus eustonis simose duc blanditiis praesente tatum</p>
                            </div>

                            <div class="bottom">
                                <div class="price">From <span>$173</span>/per night</div>
                                <a class="theme-btn style-two" href="room-details.html">Details <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/hotel/hotel2.jpg" alt="Hotel">
                        </div>
                    </div>
                    <div class="hotel-item wow fadeInUp delay-0-2s">
                        <div class="content">
                            <div class="top">
                                <h3><a href="room-details.html">Superior Room</a></h3>
                                <p>Vero accusamus eustonis simose duc blanditiis praesente tatum</p>
                            </div>

                            <div class="bottom">
                                <div class="price">From <span>$185</span>/per night</div>
                                <a class="theme-btn style-two" href="room-details.html">Details <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/hotel/hotel1.jpg" alt="Hotel">
                        </div>
                    </div>
                    <div class="hotel-item wow fadeInUp delay-0-2s">
                        <div class="content">
                            <div class="top">
                                <h3><a href="room-details.html">Deluxe Suite</a></h3>
                                <p>Eos accusamus eustonis simose duc blanditiis praesente tatum</p>
                            </div>

                            <div class="bottom">
                                <div class="price">From <span>$173</span>/per night</div>
                                <a class="theme-btn style-two" href="room-details.html">Details <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/hotel/hotel2.jpg" alt="Hotel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-lines for-bg-white">
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
               <span></span><span></span>
            </div>
        </section>
        <!-- Hotel Area end -->
        
        
        <!-- Instagram Area start -->
@await Component.InvokeAsync("InstagramPartial")

        <!-- Instagram Area end -->
        