

@model ForgotPasswordVM

@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication forms">
    <meta name="author" content="Arasari Studio">

    <title>Forny</title>
    <link href="~/account/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/account/css/common.css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="~/account/css/theme-02.css" rel="stylesheet">

</head>
<body>
    <div class="forny-container">

        <div class="forny-inner">
            <a href="index.html">
                <img src="~/assets/images/logos/logo-white.png" alt="Logo" title="Logo">
            </a>
            <div class="forny-form">
                <div class="text-center">
                    <h4>Forgot Password</h4>
                    <p class="mb-10">Use your credentials to access your account.</p>
                </div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                  
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <div class="input-group">

                            <input asp-for="Email" type="email" class="form-control form-control-lg border-left-0" placeholder="Email">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                   

                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>



                    <div class="text-center mt-10">
                        Don't have an account? <a asp-action="Register" asp-controller="Account">Register here</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="~/account/js/jquery.min.js"></script>
    <script src="~/account/js/bootstrap.min.js"></script>
    <script src="~/account/js/main.js"></script>
    <script src="~/account/js/demo.js"></script>

</body>

</html>