<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

    <title>Email Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('/assets/images/profil.png'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            width: 80%;
            margin: 50px auto;
            background-color: rgba(255, 255, 255, 0.8); 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .header {
            background-color: #17a2b8;
            color: white;
            padding: 20px;
            border-radius: 10px 10px 0 0;
        }

        h1 {
            margin-top: 0;
        }

        .content {
            padding: 20px;
            text-align: left;
        }

        p {
            color: #333;
            margin-bottom: 20px;
        }

        .btn {
            background-color: #17a2b8;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block;
            margin-top: 20px;
        }
    </style>
<body>
    <div class="container">
        <div class="header">
            <h1>  You Successfully confirmed your email</h1>
        </div>
        <div class="content">
            <a asp-action="index" asp-controller="Home" class="btn">Continue</a>
        </div>
    </div>
</body>
