
@model UserEditVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Profile</h4>

                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <img src="~/assets/images/User/@Model.image" />
                                <input asp-for="image"  class="form-control">

                            </div>
                            <div class="form-group">
                                <label asp-for="Photo">Photo</label>
                                <input asp-for="Photo" class="form-control" placeholder="Photo">
                                <span class="text-danger" asp-validation-for="Photo"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="name">Name</label>
                                <input asp-for="name" class="form-control" placeholder="Name">
                                <span class="text-danger" asp-validation-for="name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="surname">Surname</label>
                                <input asp-for="surname" class="form-control" placeholder="Subtitle">
                                <span class="text-danger" asp-validation-for="surname"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="phonenumber">PhoneNumber</label>
                                <input asp-for="phonenumber" class="form-control" placeholder="SubtiPhoneNumbertle">
                                <span class="text-danger" asp-validation-for="phonenumber"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="email">Email</label>
                                <input asp-for="email" class="form-control" placeholder="Email">
                                <span class="text-danger" asp-validation-for="email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="password">Password</label>
                                <input asp-for="password" class="form-control" placeholder="Password">
                                <span class="text-danger" asp-validation-for="password"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="confirmpassword">ConfirmPassword</label>
                                <input asp-for="confirmpassword" class="form-control" placeholder="ConfirmPassword">
                                <span class="text-danger" asp-validation-for="confirmpassword"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
