@charset "UTF-8";
@font-face {
  font-family: "flaticon_merina";
  src: url("./flaticon_merina.ttf?f27ca9c5c4a70c40b6e10f4963b93d7d") format("truetype"), url("./flaticon_merina.woff?f27ca9c5c4a70c40b6e10f4963b93d7d") format("woff"), url("./flaticon_merina.woff2?f27ca9c5c4a70c40b6e10f4963b93d7d") format("woff2"), url("./flaticon_merina.eot?f27ca9c5c4a70c40b6e10f4963b93d7d#iefix") format("embedded-opentype"), url("./flaticon_merina.svg?f27ca9c5c4a70c40b6e10f4963b93d7d#flaticon_merina") format("svg"); }

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon_merina !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.flaticon-location:before {
  content: ""; }

.flaticon-check-mark:before {
  content: ""; }

.flaticon-stationary-bike:before {
  content: ""; }

.flaticon-jacuzzi:before {
  content: ""; }

.flaticon-swim:before {
  content: ""; }

.flaticon-relax:before {
  content: ""; }

.flaticon-restaurant:before {
  content: ""; }

.flaticon-transportation:before {
  content: ""; }

.flaticon-transportation-1:before {
  content: ""; }

.flaticon-spa:before {
  content: ""; }

.flaticon-wifi-router:before {
  content: ""; }

.flaticon-drink:before {
  content: ""; }

.flaticon-bathtub:before {
  content: ""; }

.flaticon-swimming-pool:before {
  content: ""; }

.flaticon-mop:before {
  content: ""; }

.flaticon-food-delivery:before {
  content: ""; }

.flaticon-treadmill:before {
  content: ""; }

.flaticon-facial:before {
  content: ""; }

.flaticon-mission:before {
  content: ""; }

.flaticon-hotel:before {
  content: ""; }

.flaticon-champagne:before {
  content: ""; }

.flaticon-laundry-machine:before {
  content: ""; }

.flaticon-location-1:before {
  content: ""; }

.flaticon-email-marketing:before {
  content: ""; }

.flaticon-call:before {
  content: ""; }
