@model string

<section class="about-area-three py-130 rpy-100 rel">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="breadcrumb-heading">@Model</h2>
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li>404</li>
                </ul>
            </div>
        </div>
    </div>
</section>