
@model List<HomeAbout>
@{
    int count = 0;
}
<br />
<br />
<br />
<br />
<br />
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">HomeAbout Table</h4>
                       
                        <div class="table-responsive">
                            <table class="table table-dark table-borderless mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            No
                                        </th>
                                        <th>
                                            Image1
                                        </th>
                                        <th>
                                            Image2
                                        </th>
                                        <th>
                                            Image3
                                        </th>
                                        <th>
                                            ImageR
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>

                                            Settings
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                @count
                                            </td>

                                            <td>
                                                <img style="width:100px;height:100px;" src="~/assets/images/about/@item.Img1" />
                                            </td>
                                            <td>
                                                <img style="width:100px;height:100px;" src="~/assets/images/about/@item.Img2" />
                                            </td>
                                            <td>
                                                <img style="width:100px;height:100px;" src="~/assets/images/about/@item.Img3" />
                                            </td>
                                            <td>
                                                <img style="width:100px;height:100px;" src="~/assets/images/rooms/@item.rImg" />
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.Description
                                            </td>
                                            <td>
                                                <a asp-action="Update" asp-controller="HomeAbout" asp-route-id="@item.Id" class="btn btn-warning btn-info"><i class="mdi mdi-grease-pencil"></i></a>
                                               
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
        </div>
    </div>
</div>

