<section class="search-and-features-area bgc-lighter pb-50 rel z-1">
    <div class="container container-1550">
        <div class="search-filter-inner rel z-2">
            <div class="section-title text-white mb-20 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-5">Booking Your Seat</span>
                <h3>Find & Booked Your Seats</h3>
            </div>
            <div class="filter-item wow fadeInUp delay-0-3s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check In">
            </div>
            <div class="filter-item wow fadeInUp delay-0-4s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check Out">
            </div>
            <div class="filter-item wow fadeInUp delay-0-5s">
                <select name="adults" id="adults">
                    <option value="adults">Adults</option>
                    <option value="adults1">1</option>
                    <option value="adults2">2</option>
                    <option value="adults3">3</option>
                </select>
            </div>
            <div class="filter-item wow fadeInUp delay-0-6s">
                <select name="children" id="children">
                    <option value="children">Children</option>
                    <option value="children1">1</option>
                    <option value="children2">2</option>
                    <option value="children3">3</option>
                </select>
            </div>
            <button class="theme-btn style-two wow fadeInUp delay-0-7s">Search Now <i class="far fa-angle-right"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-small">
                <div class="feature-item-three wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="flaticon-transportation-1"></i>
                    </div>
                    <h6><a href="room-details.html">Transportations</a></h6>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-small">
                <div class="feature-item-three wow fadeInUp delay-0-3s">
                    <div class="icon">
                        <i class="flaticon-spa"></i>
                    </div>
                    <h6><a href="room-details.html">SPA & GYM</a></h6>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-small">
                <div class="feature-item-three wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="flaticon-wifi-router"></i>
                    </div>
                    <h6><a href="room-details.html">Fast Wifi</a></h6>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-small">
                <div class="feature-item-three wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="flaticon-drink"></i>
                    </div>
                    <h6><a href="room-details.html">Food & Drink</a></h6>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-small">
                <div class="feature-item-three wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="flaticon-bathtub"></i>
                    </div>
                    <h6><a href="room-details.html">Bathtub</a></h6>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-small">
                <div class="feature-item-three wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="flaticon-swimming-pool"></i>
                    </div>
                    <h6><a href="room-details.html">Swimming-pool</a></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>