<section class="instagram-area">
    <div class="instagram-item wow fadeInUp delay-0-2s">
        <a class="instagram-gallery" href="~/assets/images/instagrams/instagram1.jpg">
            <img src="~/assets/images/instagrams/instagram1.jpg" alt="instagram">
        </a>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-3s">
        <a class="instagram-gallery" href="~/assets/images/instagrams/instagram2.jpg">
            <img src="~/assets/images/instagrams/instagram2.jpg" alt="instagram">
        </a>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-4s">
        <div class="content text-white">
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <h2><a href="https://www.instagram.com">Follow Our Instagram</a></h2>
            <hr>
            <div class="call-text">Make A Call</div>
            <a class="h2" href="callto:+000(123)45688">+000 (123) 456 88</a>
        </div>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-5s">
        <a class="instagram-gallery" href="~/assets/images/instagrams/instagram3.jpg">
            <img src="~/assets/images/instagrams/instagram3.jpg" alt="instagram">
        </a>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-6s">
        <a class="instagram-gallery" href="~/assets/images/instagrams/instagram4.jpg">
            <img src="~/assets/images/instagrams/instagram4.jpg" alt="instagram">
        </a>
    </div>
</section>