
<!-- Page Banner Start -->
<section class="page-banner-area pt-170 rpt-110 pb-190 rpb-125 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/background/banner-two.jpg)">
    <div class="container">
        <div class="banner-inner text-white">
            <h1 class="page-title wow fadeInUp delay-0-2s">Photo Gallery</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active">Gallery</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Gallery Area start -->
<section class="gallery-page-area pt-130 rpt-100 pb-100 rpb-0">
    <div class="container">
        <ul class="gallery-filter filter-btns-one justify-content-center pb-50 wow fadeInUp delay-0-2s">
            <li data-filter="*" class="current">Show All</li>
            <li data-filter=".hotel">Hotel</li>
            <li data-filter=".restaurant">Restaurant</li>
            <li data-filter=".beach">Beach</li>
            <li data-filter=".room">Room</li>
        </ul>
        <div class="row gallery-masonry-active">
            <div class="col-xl-4 col-md-6 item restaurant room">
                <div class="gallery-item style-two wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry1.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item hotel beach">
                <div class="gallery-item style-two wow fadeInUp delay-0-3s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry2.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item restaurant room">
                <div class="gallery-item style-two wow fadeInUp delay-0-4s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry3.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item hotel beach">
                <div class="gallery-item style-two wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry4.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item room restaurant">
                <div class="gallery-item style-two wow fadeInUp delay-0-3s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry5.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item restaurant beach">
                <div class="gallery-item style-two wow fadeInUp delay-0-4s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry6.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item hotel beach room">
                <div class="gallery-item style-two wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry7.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item restaurant room">
                <div class="gallery-item style-two wow fadeInUp delay-0-3s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry8.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item hotel beach">
                <div class="gallery-item style-two wow fadeInUp delay-0-4s">
                    <div class="image">
                        <img src="~/assets/images/gallery/gallery-masonry9.jpg" alt="Gallery">
                    </div>
                    <div class="over-content">
                        <a href="gallery.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                        <h2>Swimming<br> Pool</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Area end -->
<!-- Testimonials Area start -->
<section class="testimonials-area-two py-130 rpy-100 mb-130 rmb-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6 wow fadeInLeft delay-0-2s">
                <div class="testimonial-two-active rmb-55">
                    <div class="testimonial-item-two">
                        <div class="testi-author">
                            <img src="~/assets/images/testimonials/testi-thumb5.jpg" alt="Testi Thumb">
                            <div class="testi-des">
                                <h5>Nicholas J. England</h5>
                                <span>Junior Manager</span>
                            </div>
                        </div>
                        <div class="testi-speech">
                            At vero eoset accusamus ustodio dignissimos ducimus quiebla nditiis praesentium voluptatu deleniti atque corrupti quolores mole sintocc
                        </div>
                        <div class="ratting">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-item-two">
                        <div class="testi-author">
                            <img src="~/assets/images/testimonials/testi-thumb1.jpg" alt="Testi Thumb">
                            <div class="testi-des">
                                <h5>Nicholas J. England</h5>
                                <span>Junior Manager</span>
                            </div>
                        </div>
                        <div class="testi-speech">
                            At vero eoset accusamus ustodio dignissimos ducimus quiebla nditiis praesentium voluptatu deleniti atque corrupti quolores mole sintocc
                        </div>
                        <div class="ratting">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-two-right rel wow fadeInRight delay-0-2s">
                    <img src="~/assets/images/testimonials/testimonial-two.jpg" alt="Testimonials">
                    <div class="testimonial-two-dots"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Testimonials Area end -->
<