  <!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

        <!--Appointment Form-->
        <div class="appointment-form">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="text" name="text" value="" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Submit now</button>
                </div>
            </form>
        </div>

        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Page Banner Start -->
<section class="page-banner-area pt-170 rpt-110 pb-190 rpb-125 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(assets/images/background/banner-two.jpg)">
    <div class="container">
        <div class="banner-inner text-white rpb-25">
            <h1 class="page-title wow fadeInUp delay-0-2s">About Company</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- About Page Area start -->
<section class="about-page-area py-130 rpy-100 rel z-2">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="about-page-content rmb-55 wow fadeInUp delay-0-2s">
                    <div class="section-title mb-35">
                        <span class="sub-title mb-15">About Company</span>
                        <h2>We Help to Provide Quality Hotel Services & Foods</h2>
                        <p>Sed ut perspiciatis unde omniste natus voluptatem accusantiume doloremque laudantium, totam rem aperiam inventore</p>
                    </div>
                    <a class="theme-btn" href="room-grid.html">Explore Our Rooms <i class="fal fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="about-page-right bgc-lighter">
                    <div class="feature-item style-two wow fadeInUp delay-0-2s">
                        <div class="icon">
                            <i class="flaticon-mission"></i>
                        </div>
                        <div class="content">
                            <h3>Company Mission</h3>
                            <p>Quis autem vel eum iure reprehenderit quie voluptate velite esse quam nihil molestiae consequatur eumey</p>
                        </div>
                    </div>
                    <div class="feature-item style-two wow fadeInUp delay-0-4s">
                        <div class="icon">
                            <i class="flaticon-mission"></i>
                        </div>
                        <div class="content">
                            <h3>Hotel & Suites</h3>
                            <p>Quis autem vel eum iure reprehenderit quie voluptate velite esse quam nihil molestiae consequatur eumey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- About Page Area end -->
<!-- Who We Ar Area start -->
<section class="who-we-are-area pb-130 rpb-100 rel z-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-7">
                <div class="who-we-are-image rmb-55 wow fadeInUp delay-0-2s">
                    <img src="~/assets/images/about/who-we-are.jpg" alt="Who We Are">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="who-we-are-content wow fadeInUp delay-0-4s">
                    <div class="section-title mb-35">
                        <span class="sub-title mb-15">Who We Are</span>
                        <h2>Start Your Amazing Adventure!</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quose dolores et quas molestias cupiditate non similique</p>
                    </div>
                    <a class="theme-btn style-two" href="about.html">Get Started Us <i class="fal fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Who We Ar Area end -->
<!-- History Area start -->
<section class="history-area pt-130 rpt-100 pb-100 rpb-70 bgc-lighter rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-11">
                <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                    <span class="sub-title mb-15">Company History</span>
                    <h2>Learn Something Company Hisotry</h2>
                </div>
            </div>
        </div>
        <div class="history-slider-active">
            <div class="history-slide-item wow fadeInUp delay-0-2s">
                <div class="image">
                    <img src="~/assets/images/about/history1.jpg" alt="History">
                </div>
                <div class="year">1993</div>
                <div class="content">
                    <h5>When We Started</h5>
                    <p>Sit voluptatem accusantium doloremque laudantium totae aperiam eaque inventore</p>
                </div>
            </div>
            <div class="history-slide-item wow fadeInUp delay-0-3s">
                <div class="image">
                    <img src="~/assets/images/about/history2.jpg" alt="History">
                </div>
                <div class="year">1995</div>
                <div class="content">
                    <h5>Join <span>100+</span> Employee</h5>
                    <p>Ut ad minima veniam quis nostrum exercitatione corporis suscipit laboriosam aliquid</p>
                </div>
            </div>
            <div class="history-slide-item wow fadeInUp delay-0-4s">
                <div class="image">
                    <img src="~/assets/images/about/history3.jpg" alt="History">
                </div>
                <div class="year">1998</div>
                <div class="content">
                    <h5>Awards Winning</h5>
                    <p>Quis autem vel eurep ehende qui voluptate quam molestiaey consequatur dolorem eum</p>
                </div>
            </div>
            <div class="history-slide-item wow fadeInUp delay-0-5s">
                <div class="image">
                    <img src="~/assets/images/about/history4.jpg" alt="History">
                </div>
                <div class="year">2001</div>
                <div class="content">
                    <h5>Best Dream Company</h5>
                    <p>Sit voluptatem accusantium doloremque laudantium totae aperiam eaque inventore</p>
                </div>
            </div>
            <div class="history-slide-item wow fadeInUp delay-0-6s">
                <div class="image">
                    <img src="~/assets/images/about/history2.jpg" alt="History">
                </div>
                <div class="year">2005</div>
                <div class="content">
                    <h5>Join <span>50+</span> Employee</h5>
                    <p>Ut ad minima veniam quis nostrum exercitatione corporis suscipit laboriosam aliquid</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- History Area End -->
<!-- Team Area start -->
<section class="team-area pt-130 rpt-100 pb-70 rpb-40 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-11">
                <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                    <span class="sub-title mb-15">Meet Our Team</span>
                    <h2>We Have Professional Team Member Let’s Talk Our Experience</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-member wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="~/assets/images/team/member1.jpg" alt="Member">
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Michael S. Stewart</h4>
                        <span class="designation">CEO & Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-member wow fadeInUp delay-0-3">
                    <div class="image">
                        <img src="~/assets/images/team/member2.jpg" alt="Member">
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Jackie D. McGahey</h4>
                        <span class="designation">Senior  Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-member wow fadeInUp delay-0-4">
                    <div class="image">
                        <img src="~/assets/images/team/member3.jpg" alt="Member">
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Richard A. Brooks</h4>
                        <span class="designation">Junior Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-member wow fadeInUp delay-0-5">
                    <div class="image">
                        <img src="~/assets/images/team/member4.jpg" alt="Member">
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Victoria K. Velasquez</h4>
                        <span class="designation">Business Consultant</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Team Area end -->
<!-- Counter Section Start -->
<div class="counter-area rel z-1">
    <div class="container">
        <div class="bgc-lighter pt-15">
            <div class="row gap-70">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item style-three counter-text-wrap wow fadeInUp delay-0-2s">
                        <span class="count-text" data-speed="3000" data-stop="49">0</span>
                        <span class="counter-title">Projects complete</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item style-three counter-text-wrap wow fadeInUp delay-0-3s">
                        <span class="count-text" data-speed="3000" data-stop="305">0</span>
                        <span class="counter-title">Luxury Rooms</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item style-three counter-text-wrap wow fadeInUp delay-0-4s">
                        <span class="count-text" data-speed="3000" data-stop="68">0</span>
                        <span class="counter-title">Beaches</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item style-three counter-text-wrap wow fadeInUp delay-0-5s">
                        <span class="count-text" data-speed="3000" data-stop="385">0</span>
                        <span class="counter-title">Regular Guests</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Section End -->
<!-- Services Area start -->
<section class="services-area-four pt-130 rpt-100 pb-90 rpb-60 rel z-2">
    <div class="container">
        <div class="row gap-80 justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="activity-left-content mb-40 rmb-55 wow fadeInUp delay-0-2s">
                    <div class="section-title mb-35">
                        <span class="sub-title mb-15">Our Activity</span>
                        <h2>Quality Services & Food Your Trip Are Enjoyable</h2>
                        <p>Sed ut perspiciatis unde omniste natus voluptatem accusantiume doloremque laudantium, totam rem aperiam inventore</p>
                    </div>
                    <a class="theme-btn" href="room-grid.html">Explore Our Rooms <i class="fal fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row gap-50">
                    <div class="col-lg-4 col-6 col-small">
                        <div class="service-item style-two wow fadeInUp delay-0-3s">
                            <div class="icon">
                                <i class="flaticon-mop"></i>
                            </div>
                            <div class="content">
                                <h4><a href="room-details.html">Room Cleaning and Guide</a></h4>
                                <p>To take a trivial example which of ever undertakes laborious exerc obtain</p>
                                <a class="read-more" href="room-details.html">Read More <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 col-small">
                        <div class="service-item style-two wow fadeInUp delay-0-4s">
                            <div class="icon">
                                <i class="flaticon-food-delivery"></i>
                            </div>
                            <div class="content">
                                <h4><a href="room-details.html">Quality Foods & kitchen</a></h4>
                                <p>Quis autem vel eum iure repreh enderit voluptatey velit esse molestiae</p>
                                <a class="read-more" href="room-details.html">Read More <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 col-small">
                        <div class="service-item style-two wow fadeInUp delay-0-5s">
                            <div class="icon">
                                <i class="flaticon-treadmill"></i>
                            </div>
                            <div class="content">
                                <h4><a href="room-details.html">SPA Treatments and GYM</a></h4>
                                <p>Quis autem vel eum iure repreh enderit voluptatey velit esse molestiae</p>
                                <a class="read-more" href="room-details.html">Read More <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Services Area end -->
<!-- Testimonials Area start -->
<section class="testimonials-area-two py-130 rpy-100 mb-130 rmb-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6 wow fadeInLeft delay-0-2s">
                <div class="testimonial-two-active rmb-55">
                    <div class="testimonial-item-two">
                        <div class="testi-author">
                            <img src="~/assets/images/testimonials/testi-thumb5.jpg" alt="Testi Thumb">
                            <div class="testi-des">
                                <h5>Nicholas J. England</h5>
                                <span>Junior Manager</span>
                            </div>
                        </div>
                        <div class="testi-speech">
                            At vero eoset accusamus ustodio dignissimos ducimus quiebla nditiis praesentium voluptatu deleniti atque corrupti quolores mole sintocc
                        </div>
                        <div class="ratting">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-item-two">
                        <div class="testi-author">
                            <img src="~/assets/images/testimonials/testi-thumb1.jpg" alt="Testi Thumb">
                            <div class="testi-des">
                                <h5>Nicholas J. England</h5>
                                <span>Junior Manager</span>
                            </div>
                        </div>
                        <div class="testi-speech">
                            At vero eoset accusamus ustodio dignissimos ducimus quiebla nditiis praesentium voluptatu deleniti atque corrupti quolores mole sintocc
                        </div>
                        <div class="ratting">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-two-right rel wow fadeInRight delay-0-2s">
                    <img src="~/assets/images/testimonials/testimonial-two.jpg" alt="Testimonials">
                    <div class="testimonial-two-dots"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Testimonials Area end -->
<!-- Instagram Area start -->
@await Component.InvokeAsync("InstagramPartial")

<!-- Instagram Area end -->
