


@model ContactVM

<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

       
        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Page Banner Start -->
<section class="page-banner-area pt-170 rpt-110 pb-190 rpb-125 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/background/@Model.HoverImage)">
    <div class="container">
        <div class="banner-inner text-white">
            <h1 class="page-title wow fadeInUp delay-0-2s">Contact</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Contact Form Area start -->
<section class="contact-page-area py-130 rpy-100 rel z-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="our-location-part rmb-55 wow fadeInUp delay-0-2s">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="section-title mb-60">
                                <span class="sub-title mb-15">Contact Us</span>
                                <h2>Need Any Consultations to Booked your Seat</h2>
                            </div>
                        </div>
                    </div>
                    <ul >
                        <li><a href="#australia" data-bs-toggle="tab" class="active show">Australia</a></li>
                       
                    </ul>
                    <div class="tab-content wow fadeInUp delay-0-2s">
                        <div class="tab-pane fade active show" id="australia">
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-location-1"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Locations</span>
                                    <span class="text">@Model.Contact.Location</span>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-email-marketing"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Email Address</span>
                                    <span class="text">
                                        <a href="mailto:support@gmail.com">@Model.Contact.Email</a>,
                                        <a href="mailto:infohotel.net">infohotel.net</a>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Make A Call</span>
                                    <span class="text">
                                        <a href="calto:+0001234568899">@Model.Contact.PhoneNumber</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-page-form wow fadeInUp delay-0-2s">
                    <div class="section-title mb-15">
                        <h3>Send Us Message</h3>
                        <p>Your email address will not be published. Required fields are marked *</p>
                    </div>
                    <form  class="contactForm"  method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row gap-20 pt-15">

                            <div class="col-md-12">
                                <b> <label asp-for="Subject">Subject:</label></b><br>
                                <label asp-for="Subject">

                                    Complaint  <input asp-for="Subject" placeholder="Gender" type="radio" name="Subject" value="complaint">

                                </label>
                                <br>
                                <label asp-for="Subject">
                                    Offers <input asp-for="Subject" placeholder="Gender" type="radio" name="Subject" value="offers">

                                </label><br>
                                <label asp-for="Subject">
                                    Other <input asp-for="Subject" placeholder="Gender" type="radio" name="Subject" value="other">

                                </label>
                                                              
                                <span class="text-danger" asp-validation-for="Subject"></span>


                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input asp-for="Messages" class="form-control"  placeholder="Message" required data-error="Please enter your Message">
                                    <span asp-validation-for="Messages" class="text-danger"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="rating">
                                    <input type="radio" id="star5" name="Rating" value="5" />
                                    <label for="star5" title="5 stars">&#9733;</label>
                                    <input type="radio" id="star4" name="Rating" value="4" />
                                    <label for="star4" title="4 stars">&#9733;</label>
                                    <input type="radio" id="star3" name="Rating" value="3" />
                                    <label for="star3" title="3 stars">&#9733;</label>
                                    <input type="radio" id="star2" name="Rating" value="2" />
                                    <label for="star2" title="2 stars">&#9733;</label>
                                    <input type="radio" id="star1" name="Rating" value="1" />
                                    <label for="star1" title="1 star">&#9733;</label>
                                </div>
                            </div>
                            @{
                                if (!User.IsInRole("Admin"))
                                {
                                    <div class="col-md-12">
                                        <div class="form-group pt-5 mb-0">
                                            <button type="submit" class="theme-btn">Send Message<i class="far fa-arrow-right"></i></button>

                                        </div>
                                    </div>
                                }
                            }
                          
                        </div>
                    </form>
                    <style>
                        .card-pricing .card-pricing-features li {
                            padding: 15px;
                        }

                        .rating {
                            unicode-bidi: bidi-override;
                            direction: rtl;
                            text-align: center;
                        }

                            .rating > input {
                                display: none;
                            }

                            .rating > label {
                                display: inline-block;
                                position: relative;
                                width: 1.1em;
                                font-size: 3em;
                                color: #ccc;
                                cursor: pointer;
                            }

                                .rating > label:hover,
                                .rating > label:hover ~ label,
                                .rating > input:checked ~ label {
                                    color: #fdd835;
                                }
                    </style>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Contact Form Area end -->
<!-- Location Map Area Start -->
<div class="contact-page-map pb-120 rpb-90 wow fadeInUp delay-0-2s">
    <div class="container-fluid">
        <div class="our-location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m10!1m3!1d142190.2862584524!2d-74.01298319978558!3d40.721725351435126!2m1!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbd!4v1663473911885!5m2!1sen!2sbd" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!-- Location Map Area End -->
