@using QomfortHotelFinal.ViewModels.Contact;

@model ContactVM

<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

       
        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Page Banner Start -->
<section class="page-banner-area pt-170 rpt-110 pb-190 rpb-125 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(assets/images/background/banner-shop.jpg)">
    <div class="container">
        <div class="banner-inner text-white">
            <h1 class="page-title wow fadeInUp delay-0-2s">Contact</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">home</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Contact Form Area start -->
<section class="contact-page-area py-130 rpy-100 rel z-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="our-location-part rmb-55 wow fadeInUp delay-0-2s">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="section-title mb-60">
                                <span class="sub-title mb-15">Contact Us</span>
                                <h2>Need Any Consultations to Booked your Seat</h2>
                            </div>
                        </div>
                    </div>
                    <ul class="nav location-tab mb-40 wow fadeInUp delay-0-2s">
                        <li><a href="#australia" data-bs-toggle="tab" class="active show">Australia</a></li>
                        <li><a href="#newyork" data-bs-toggle="tab">New York</a></li>
                    </ul>
                    <div class="tab-content wow fadeInUp delay-0-2s">
                        <div class="tab-pane fade active show" id="australia">
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-location-1"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Locations</span>
                                    <span class="text">55 Main Street, 2nd block, Melbourne, Australia</span>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-email-marketing"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Email Address</span>
                                    <span class="text">
                                        <a href="mailto:support@gmail.com">support@gmail.com</a>,
                                        <a href="mailto:infohotel.net">infohotel.net</a>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Make A Call</span>
                                    <span class="text">
                                        <a href="calto:+0001234568899">+000 (123) 456 88 99</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newyork">
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-location-1"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Locations</span>
                                    <span class="text">55 Main Street, 2nd block, Melbourne, New York</span>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-email-marketing"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Email Address</span>
                                    <span class="text">
                                        <a href="mailto:support@gmail.com">support@gmail.com</a>,
                                        <a href="mailto:infohotel.net">infohotel.net</a>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="content">
                                    <span class="title">Make A Call</span>
                                    <span class="text">
                                        <a href="calto:+0001234568899">+000 (123) 456 88 99</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-page-form wow fadeInUp delay-0-2s">
                    <div class="section-title mb-15">
                        <h3>Send Us Message</h3>
                        <p>Your email address will not be published. Required fields are marked *</p>
                    </div>
                    <form  class="contactForm"  method="post">
                        <div class="row gap-20 pt-15">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input asp-for="FullName" type="text"  class="form-control"  placeholder="Full name" required data-error="Please enter your name">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" asp-for="Phone" class="form-control" value="" placeholder="Phone" required data-error="Please enter your Phone">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" asp-for="Email" class="form-control" value="" placeholder="Email" required data-error="Please enter your Email">
                                    <span asp-validation-for="FullName" class="text-danger"></span>

                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" asp-for="Subject" class="form-control" value="" placeholder="Subject" required data-error="Please enter your Subject">
                                    <span asp-validation-for="FullName" class="text-danger"></span>

                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea asp-for="Message" class="form-control"  placeholder="Message" required data-error="Please enter your Message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group pt-5 mb-0">
                                    <button type="submit" class="theme-btn">Send Message<i class="far fa-arrow-right"></i></button>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Contact Form Area end -->
<!-- Location Map Area Start -->
<div class="contact-page-map pb-120 rpb-90 wow fadeInUp delay-0-2s">
    <div class="container-fluid">
        <div class="our-location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m10!1m3!1d142190.2862584524!2d-74.01298319978558!3d40.721725351435126!2m1!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbd!4v1663473911885!5m2!1sen!2sbd" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!-- Location Map Area End -->
<!-- Instagram Area start -->
@await Component.InvokeAsync("InstagramPartial")

<!-- Instagram Area end -->
