













<div class="card">
    <div class="card-body">
        <h4 class="card-title">Form Controls </h4>
        <p class="card-subtitle mb-4">Textual form controls—like <code>input</code>s,<code> selects</code>, and<code> textare</code>s—are styled with the .form-control class. Included are styles for general appearance, focus state, sizing, and more. </p>

        <form>
            <div class="form-group">
                <label for="simpleinput">Text</label>
                <input type="text" id="simpleinput" class="form-control" placeholder="Enter your text">
            </div>

            <div class="form-group">
                <label for="example-password">Password</label>
                <input type="password" id="example-password" class="form-control" value="password">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Multiple Select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
           
            <div class="form-group">
                <label>File Browser</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <label for="example-readonly">Readonly</label>
                <input type="text" id="example-readonly" class="form-control" readonly="" value="Readonly value">
            </div>

            <div class="form-group">
                <label for="example-disable">Disabled</label>
                <input type="text" class="form-control" id="example-disable" disabled="" value="Disabled value">
            </div>

            <div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </div>

           

        </form>
    </div>
    <!-- end card-body-->
</div>