


<div class="admin-comment bgc-lighter mb-60 wow fadeInUp delay-0-2s">
    <div class="comment-body">
        <div class="author-thumb">
            <img src="~/assets/images/blog/admin-author.jpg" alt="Author">
        </div>
        <div class="content">
            <h5>@Model.Comments</h5>
            <p>We denounce with righteous indignation and dislike men beguiled and demoralized by the charms of pleasure of the moment</p>
            <div class="social-style-two">
                <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                <a href="contact.html"><i class="fab fa-twitter"></i></a>
                <a href="contact.html"><i class="fab fa-linkedin-in"></i></a>
                <a href="contact.html"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>