<form id="comment-form" class="comment-form bgc-lighter mt-60 wow fadeInUp delay-0-2s" name="comment-form" action="#" method="post">
    <h3>Leave a Reply</h3>
    <p>we denounce with righteous indignation and dislike men who beguiled</p>
    <div class="row mt-30">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" id="full-name" name="full-name" class="form-control" value="" placeholder="Full Name" required="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" id="blog-email" name="blog-email" class="form-control" value="" placeholder="Email Address" required="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="url" id="website" name="website" class="form-control" value="" placeholder="Website" required="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required=""></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group mb-0">
                <button type="submit" class="theme-btn">Send Comment <i class="far fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</form>
